.mainPagePosition {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-size: contain; }
  .mainPagePosition .menu {
    z-index: 1;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    background: #191919;
    transition: 0.5s;
    transform: translateX(0%); }
  .mainPagePosition .menu-active {
    transform: translateX(-100%); }
  .mainPagePosition .center {
    width: 100%; }
  .mainPagePosition .menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    flex-direction: column; }
  .mainPagePosition .menu-btn {
    width: 8vw;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    background: linear-gradient(to top, #3498db, #2ecc71);
    font-weight: bold;
    opacity: 0.8;
    transition: 0.2s linear;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateX(100%); }
    .mainPagePosition .menu-btn:hover {
      opacity: 1; }

@media (max-width: 600px) {
  .mainPagePosition .menu {
    width: 92%; }
  .textMenu {
    display: none; } }
