@import '../variables.scss';
@import '../mixins.scss';


.GoogleButton {
    @include SignIn($red, $red);
    flex: 1;
}

@media (max-width: 410px) {
    .GoogleButton { width: 160px; }
}

@media (max-width: 340px) {
    .GoogleButton { width: 140px; }
}

@media (max-width: 310px) {
    .GoogleButton { width: 100px; }
}
