@import '../../../variables.scss';
@import '../../../mixins.scss';

.contactsModule {
    @include thingModule();
}
.contactsAvatar {
    @include thingAvatar($inputborderColorFocus);
}

.contactsData{
    color: $yellow;
}

.pl-4{
    color: $yellow;
    &:hover {
        color: $inputborderColorFocus;
    }
}