.contactsModule {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .contactsModule:after {
    width: 200px;
    display: block;
    content: '';
    border: 2px solid;
    color: #FF0000; }

.contactsAvatar {
  margin-top: 20px;
  border: 4px solid #2ecc71;
  height: 70px;
  border-radius: 70px; }

.contactsData {
  color: #f7f718; }

.pl-4 {
  color: #f7f718; }
  .pl-4:hover {
    color: #2ecc71; }
