$blackCol : #191919;
$inputborderColor: #3498db;
$inputborderColorFocus: #2ecc71;
$white: #FFFFFF;
$gray: #2c2d2d;
$grey: #808080;
$red: #FF0000;
$facebookBlue: #4169E0;
$darkYellow: #b7b758;
$yellow: #f7f718;
$yellowGreen: #9acd32;
$purple: #d411db;
$lightBlue: #39d4e6;