.box {
  width: 50vw;
  padding: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center; }
  .box h1 {
    color: #FFFFFF;
    text-transform: uppercase; }
  .box input[type="text"], .box input[type="password"] {
    width: 25vw;
    border: 2px solid #3498db;
    background: none;
    display: block;
    margin: 2vw auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    outline: none;
    color: #FFFFFF;
    border-radius: 24px;
    transition: 0.25s; }
    .box input[type="text"]:hover, .box input[type="password"]:hover {
      width: 39vw;
      border-color: #2ecc71; }
      @media (max-width: 490px) {
        .box input[type="text"]:hover, .box input[type="password"]:hover {
          width: 374.4px; } }
      @media (max-width: 415px) {
        .box input[type="text"]:hover, .box input[type="password"]:hover {
          width: 304.2px; } }
      @media (max-width: 360px) {
        .box input[type="text"]:hover, .box input[type="password"]:hover {
          width: 273px; } }
      @media (max-width: 340px) {
        .box input[type="text"]:hover, .box input[type="password"]:hover {
          width: 249.6px; } }
    @media (max-width: 490px) {
      .box input[type="text"], .box input[type="password"] {
        width: 268.8px; } }
    @media (max-width: 415px) {
      .box input[type="text"], .box input[type="password"] {
        width: 218.4px; } }
    @media (max-width: 360px) {
      .box input[type="text"], .box input[type="password"] {
        width: 196px; } }
    @media (max-width: 340px) {
      .box input[type="text"], .box input[type="password"] {
        width: 179.2px; } }
  @media (max-width: 80vw) {
    .box .box {
      width: 50vw; } }
  @media (max-width: 50vw) {
    .box .box {
      width: 30vw; } }
  @media (max-width: 35vw) {
    .box .box {
      width: 20vw; } }
  @media (max-width: 25vw) {
    .box .box {
      width: 15px; } }

.box input[type="submit"] {
  background: none;
  display: block;
  margin: 25px auto;
  border: 2px solid #2ecc71;
  padding: 12px;
  text-align: center;
  width: 150px;
  outline: none;
  color: #FFFFFF;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer; }
  .box input[type="submit"]:hover {
    background: #2ecc71; }

.SignIn {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
