@import '../variables.scss';
@import '../mixins.scss';

.box {

    @include boxForm();


    input[type = "email"], input[type = "password"]{
        @include AuthorizationForm(280px, 390px, $inputborderColor, $inputborderColorFocus);
    }
}

 input[type="submit"] {
    @include InputButton($inputborderColorFocus, $inputborderColorFocus);
 }

h1 {
    color: $white;
    text-transform: uppercase;
    font-weight: 500;
}

.SignIn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}