.roomsModule {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer; }
  .roomsModule:after {
    width: 200px;
    display: block;
    content: '';
    border: 2px solid;
    color: #FF0000; }
  .roomsModule:hover {
    opacity: 0.3; }

.roomsAvatar {
  margin-top: 20px;
  border: 4px solid #d411db;
  height: 70px;
  border-radius: 70px; }

.roomsData {
  color: #3498db; }
