.HeadAuthorization {
    position: relative;
    text-align: center;
    padding: 3%;
    font-family: Arial;
    color: white;
    font-size: 5vh;
    transition: opacity .1s linear;
}

.HeadAuthorization:hover {
    opacity: 0.7;
}