#container-1 {
    border-bottom: 2px solid white;
    color: white;
}

#row-1 {
    height: 15vh;
}

#col-8 {
    font-weight: bold;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}