body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2b2b2b !important;
    font-weight: bold;
    cursor: default;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  @media (max-width: 600px) {
    body {  background-color: #191919 !important;}
  }