@import '../../../variables.scss';


.messageBorder{
    max-width: 100%;
    padding-bottom: 10px;
}

.rigthSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.leftSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.myMessage {
    max-width: 40%;
    border-radius: 20px;
    padding: 5px;
    background: $inputborderColor;
}

.anotherMessage {
    max-width: 40%;
    border-radius: 20px;
    padding: 5px;
    background: $red;
}