.class1 {
  flex: 1;
  all: unset;
  font-size: 0;
  border-radius: 24px;
  color: #191919;
  padding: 0;
  outline: none !important; }

.FacebookButton {
  background: none;
  border: 2px solid #4169E0;
  color: #808080;
  display: block;
  padding: 12px;
  text-align: center;
  outline: none;
  border-radius: 24px;
  transition: .25s;
  cursor: pointer;
  font-size: 16px; }
  .FacebookButton:hover {
    background: #4169E0;
    border-color: #FFFFFF;
    color: #FFFFFF; }

@media (max-width: 410px) {
  .class1 {
    width: 160px; }
  .FacebookButton {
    width: 160px; } }

@media (max-width: 340px) {
  .class1 {
    width: 140px; }
  .FacebookButton {
    width: 140px; } }

@media (max-width: 310px) {
  .class1 {
    width: 100px; }
  .FacebookButton {
    width: 100px; } }
