@import '../mixins.scss';
@import '../variables.scss';


.class1 {
    flex: 1;
    all: unset;
    font-size: 0;
    border-radius: 24px;
    color: $blackCol;
    padding: 0;
    outline: none !important;
}

.FacebookButton {
    @include SignIn($facebookBlue, $facebookBlue);
    font-size: 16px;
}

@media (max-width: 410px) {
    .class1 { width: 160px; }
    .FacebookButton { width: 160px; }
}

@media (max-width: 340px) {
    .class1 { width: 140px; }
    .FacebookButton { width: 140px; }
}

@media (max-width: 310px) {
    .class1 { width: 100px; }
    .FacebookButton { width: 100px; }
}